<div class="navbar_login">
    <a href="" class="logo">ClOTHIFY ระบบผู้จัดการ</a>
    <div class="navlinks_login">
        <a href="/admin_appointment" class="nav">รายการนัด</a>
        <a href="/admin_customer" class="nav">ข้อมูลลูกค้า</a>
        <a href="/admin_employee" class="nav">จัดการพนักงาน</a>
        <a href="/admin_log_out" class="nav">ออกจากระบบ</a>
    </div>
</div>