<div class="navbar_login">
    <a href="/user_homepage" class="logo">ClOTHIFY</a>  
    <div class="navlinks_login">
        <div class="links">
            <img src="/svg/history.svg" alt="">
            <a href="/user_history">ประวัติการนัด</a>
        </div>
        <div class="dropdown_container">
            <button class="btn_drop">
                <img src="/svg/contact.svg" alt="">
                ติดต่อ
            </button>
            <div class="drop_content">
                123456789 <br>
                @gmail.com
            </div>
        </div>
        <div class="dropdown_container">
            <button class="btn_drop">
                <img src="/svg/users.svg" alt="">
                <%= username %>
            </button>
            <a  href="/user_log_out" class="drop_content">
                ออกจากระบบ
            </a>
        </div>
    </div>   
</div>