<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หน้าหลัก</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/user/nav_login.css">
    <link rel="stylesheet" href="/css/user/home.css">
</head>
<body>
    <%- include('navbar_login') %>
    <div class="container-fluid">
        <h1>สวัสดีคุณ <%= firstname %></h1>
        <h1>บริการคุณภาพ <br> จากมืออาชีพ</h1>
        <p>บริการตัดสูทโดยช่างผู้เชี่ยวชาญ มอบประสบการณ์สุดพิเศษด้วยการออกแบบและตัดเย็บที่พิถีพิถัน เพื่อให้เหมาะกับสไตล์และรูปร่างของคุณโดยเฉพาะ พร้อมทั้งนำเสนอการบริการที่สะดวกสบาย ทันสมัย และตอบโจทย์ไลฟ์สไตล์ของคุณอย่างลงตัว</p>
        <div class="card-container">
            
                <a href="/user_new_suit" class="newsuit_card">
                    <h3>ตัดสูทใหม่</h3>
                    <p>รายละเอียด</p>
                </a>
        
                <a href="/user_fix_suit" class="refit_card">            
                    <h3>แก้ไขปรับแต่งสูท</h3>
                    <p>รายละเอียด</p>
                </a>
           
        </div>
    </div>
</body>
</html>