<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/user_log_out">ออกจากระบบ</a>
    <a href="/user_history">ประวัติการนัด</a>
    <h1>ตัดสูทใหม่</h1>
    <p>วัดตัวโดยช่างมืออาชีพ

        ออกแบบเฉพาะบุคคล
        
        ทดลองใส่และแก้ไขจนกว่าจะพอดี
        
        ระยะเวลาการตัด: ประมาณ 7-14 วัน</p>
        <a href="/user_homepage">ย้อนกลับ</a>
        <a href="/user_booking">จองคิว</a>
</body>
</html>