<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ขอบคุณ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/user/nav_login.css">
    <link rel="stylesheet" href="/css/user/payment_success.css">
</head>
<body>
    <%- include('navbar_login') %>
    <div class="container-fluid">
        <div class="content">
            <h1>ขอบคุณที่ใช้บริการของเรา</h1>
            <h3>การจองของคุณเสร็จสมบูรณ์แล้ว</h3>
            <a href="/user_history" class="btn">ประวัติการนัด</a>
            <a href="/user_homepage" class="btn">หน้าหลัก</a>
        </div>
    </div>
</body>
</html>