<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('navbar_login') %>
    <a href="/user_log_out">ออกจากระบบ</a>
    <a href="/user_history">ประวัติการนัด</a>
    <h1>แก้ไข/ปรับแต่งสูท</h1>
    <p>แก้ขนาดรอบตัว: ปรับให้พอดีกับรูปร่าง

        แก้ความยาว: แขนเสื้อ / ตัวเสื้อ / ขากางเกง
        
        เปลี่ยนซับใน กระดุม หรือดีไซน์บางส่วน
        
        ซ่อมแซมรอยขาด หรือเปลี่ยนเนื้อผ้าบางส่วน
        
        ระยะเวลาการแก้ไข: 3-7 วัน
        </p>
    <a href="/user_homepage">ย้อนกลับ</a>
    <a href="/user_booking">จองคิว</a>
</body>
</html>