<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ขอบคุณ</title>
</head>
<body>
    <a href="/user_log_out">ออกจากระบบ</a>
    <a href="/user_history">ประวัติการนัด</a>
    <a href="/user_homepage">หน้าหลัก</a>
    <h1>ขอบคุณที่ใช้บริการของเรา</h1>
    <p>การจองของคุณเสร็จสมบูรณ์แล้ว</p>
</body>
</html>