@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=PT+Serif+Caption:ital@0;1&family=Quintessential&display=swap');
.container-fluid{
    margin-top: 7rem;
    padding: 30px;
    height: 100vh;

}

h1{
    color: #F2CA99;
}

body{
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.container-fluid::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('/image/blacksuit_bg.png'); 
    background-size: cover; 
    background-position: center;
    filter: brightness(30%);
    z-index: -1;
    background-attachment: fixed;
}